body {
    /*padding-top: 3.5rem;*/
    margin-left: 45px;
    margin-right: 45px;
    
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .col-md-4, 
  .col-md-3, 
  .col-md-8, 
  .col-md-9 {
      border: solid 1px lightblue
  }



nav {
 float: right;
 
}

.jumbotron {
    background-image: url("../images/maxresdefault.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-weight: bold;
    /*margin-left: 350px;*/
    opacity: .9;
    text-align: center;
   
}
  
/* .col-md-6 {
    border: solid 5px grey
} */

.col-md-2
{
    border: solid 5px black
}


#rotating-item-wrapper {
    position: relative;
    width: 980 px;
    height: 347 px;
}
.rotating-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    text-align: center;
}

img {
    margin-top: 8px;
}

h1
p
 {
    text-align: center;
}

.button {
    padding-right: 10px;
}

#active {
    background-color: aqua;
}


.list-title {
    display: inline;
    line-height: 2em;
}

.upvote, .downvote {
    height: 20px;
    width: 20px;
    margin: 0 0 10px 15px;
    
}

.upvote:hover, .downvote:hover {
    color: yellow;
}
    


.poster-img {
    height: 300px;
}

.suggestion-info p {
    line-height: 100%;
}

.btn-primary {
    background-color: #bcc6cc;
    border: #bcc6cc;

}

.btn-primary:hover {
    background-color: #9fadb6;
}