body {
    padding-top: 3.5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .col-md-4 {
      border: solid 5px red
  }

  .col-md-8 {
    border: solid 5px blue
}

.nav {
 float: right;
}

jumbotron {
  background-color: lightblue
}